@charset "UTF-8";


aside {
    position: relative;
    width: 240px;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    background: #0f1215;
    overflow: auto;
    z-index: 9;
}
aside * {
    color: white;
    list-style: none;
    text-decoration: none;
}

#main-menu {
    height:100%;
    width: 100%;
}

#main-menu .logo {
    padding: 10px 0;
}
#main-menu .logo img {
    width: 45%;
    margin: 5% 27%;
    line-height: 60px;
    display: inline;
    vertical-align: middle;
}

/* first level */
#main-menu > ul {
    margin:0;
    padding:0;
    height:100%;
    overflow: hidden;
    background: #1a1f25;
    box-shadow: 1px 0px 1px #080d11;
}
#main-menu ul li {
    list-style: none;
}
#main-menu > ul > li {
    min-height: 64px;
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    border-top:1px solid #21252a;
    border-bottom: 1px solid #161b20;
}
#main-menu > ul > li > a {
    line-height: 64px;
    display: block;
    height: 64px;
    white-space: nowrap;
}
#main-menu > ul a {
    font-size:13px;
}
#main-menu > ul > li > a > i {
    margin: 16px 18px;
    height: 32px;
    width: 32px;
    float:left;
    background-image: url('../images/menu.png');
}
#main-menu > ul > li:nth-child(3) > a > i {background-position-x:-32px;}
#main-menu > ul > li:nth-child(4) > a > i {background-position-x:-64px;}
#main-menu > ul > li:nth-child(5) > a > i {background-position-x:-96px;}
#main-menu > ul > li:nth-child(6) > a > i {background-position-x:-128px;}
#main-menu.active {
    width: 68px;
    /*transition: width 0.3s;*/
}
#main-menu > ul > li.is-active {
}

/* second level */
#main-menu > ul ul {
    margin: 0;
    padding: 0 0 0 68px;
    max-height:0;
    overflow: hidden;
    visibility: hidden;
    background: #0f1215;
    box-sizing: border-box;
    
     -webkit-transition: max-height 0.3s ease-in-out, visibility 0.3s;
    -moz-transition: max-height 0.3s ease-in-out, visibility 0.3s;
    -o-transition: max-height 0.3s ease-in-out, visibility 0.3s;
    -ms-transition: max-height 0.3s ease-in-out, visibility 0.3s;
    transition: max-height 0.3s ease-in-out, visibility 0.3s;
}
#main-menu > ul > li.is-active ul {
    visibility: visible;
    max-height: 500px;
}

/*#main-menu > ul ul {
    display: none;
    position: absolute;
    top: 0;
    margin: 0;
    left: 50px;
    left: 68px;
}
#main-menu > ul ul .header {
    height: 57px;
    border-bottom: 1px solid #161b1f;
    padding-left: 15px;
}
#main-menu > ul ul .header label {
    line-height: 55px;
}
#main-menu > ul ul li {
    padding: 0 18px;
    margin: 0;
    line-height: 34px;
    width: 132px;
}
#main-menu > ul ul li:hover {
    background: #080d11;
}
#main-menu > ul ul li:hover a {
    color: #fff;
}
#main-menu > ul ul li a {
    width:100%;
    height:24px;
    display: inline-block;
    cursor: pointer;
}


body.hide_menu #main-menu:hover {
    width: 68px !important;
}
#main-menu.active ul > li > a > label,
body.hide_menu #main-menu ul > li > a > label {
    display: none;
}
#main-menu.active > ul > li.active {
    background: #0f1215;
    border-right: 3px solid #0f1215;
    border-bottom-color: transparent;
}
#main-menu.active > ul > li.active ul {
    display: block;
    animation: submenu_show 0.3s;
}
body.hide_menu #main-menu {
    overflow-x:hidden;
}
@keyframes submenu_show {
    0% {opacity: 0;}
    100% {opacity: 100%;}
}


*/


html,
body,
#engine-wrapper,
#engine-wrapper > .ember-view,
article {
    margin:0;
    height: 100%;
}

article {
    margin-left: 240px;
    background: #f6f8fa;
}

/* header */
article header {
    height: 55px;
    background: #fff;
    border-bottom: 1px solid #f5f7f9;
}
article header > * {
    height: 100%;
    line-height: 55px;
}
article header .crumbs {
    float: left;
    padding-left: 20px;
}
article header .crumbs a {
    color: #4b4e58;
    text-decoration: none;
    display: inline-block;
}
article header .crumbs a:after {
    display: inline-block;
    content: ' ';
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #4b4e58;
    width: 5px;
    margin: 0 5px;
}
article header .crumbs a:last-child:after {
    content: none;
}

article header .toolbar {
    float: right;
}