html,
body,
#engine-wrapper,
#engine-wrapper > .ember-view,
article {
    margin:0;
    height: 100%;
}

article {
    margin-left: 240px;
    background: #f6f8fa;
}

/* header */
article header {
    height: 55px;
    background: #fff;
    border-bottom: 1px solid #f5f7f9;
}
article header > * {
    height: 100%;
    line-height: 55px;
}
article header .crumbs {
    float: left;
    padding-left: 20px;
}
article header .crumbs a {
    color: #4b4e58;
    text-decoration: none;
    display: inline-block;
}
article header .crumbs a:after {
    display: inline-block;
    content: ' ';
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #4b4e58;
    width: 5px;
    margin: 0 5px;
}
article header .crumbs a:last-child:after {
    content: none;
}

article header .toolbar {
    float: right;
}